<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
     <div class="panel-heading">
    <p class="panel-title"><%= @question.title %></p>
  </div>
  <div class="panel-body">
    <% if user_signed_in? %>
      <% if current_user.voted_for? @question %>
      <p>
        <%= link_to "Cancel Upvote", downvote_question_path(@question) %>
      </p>
      <% else %>
      <p>
        <%= link_to "Upvote", upvote_question_path(@question) %>
      </p>
      <% end %>
    <% end %>
    <p>
      <%= @question.description %>
    </p>
    <p>
      <strong>Asked by:</strong>
      <%= @question.user.profile.name %>
    </p>
    <p>
      <strong>Views:</strong>
      <%= @question.views %>
    </p>
    <p>
      <strong>Upvotes: </strong>
      <%= @question.votes_for.size %>
    </p>

    <% if @question.user == current_user %>
      <%= link_to 'Edit', edit_question_path(@question) %> |
    <% end %>
  </div>
</div>

<hr>

<%= render 'answers/form' %>
<!-- How to retrieve question_id and user_id?  
Add the number of answers in the question table-->
 <br>
<%= render @answers %>
<!-- Answers go here -->

</div>
</div>
