<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Enter your name' %>
    <%= f.input :profile_pic %>
    <%= f.input :bio, label: 'Tell us about yourself', input_html: { rows: 5 } %>
    <%= f.input :city, label: 'Your home city' %>
    <%= f.input :country, label: 'Your home country' %>
    <%= f.input :twitter, label: 'Your Twitter handle', placeholder: '@username' %>
    <%= f.input :linkedin, label: 'Your LinkedIn profile', placeholder: 'http://linkedin.com/username'%>
    <%= f.input :website, label: 'Your blog URL', placeholder: 'http://example.com'  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
