<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= @profile.name %></h3>
        <p><%= image_tag(@profile.profile_pic_url, class: 'img-responsive') %></p>
        <p>
          <strong>About me</strong>
          <%= @profile.bio %>
        </p>
        <p>
          <strong>Location:</strong>
          <%= @profile.city %>, <%= @profile.country %>
        </p>
        <p>
        <hr>
        <h3>My startups</h3>
          <ul>
           <% @profile.user.startups.each do |startup| %>
                <li><%= link_to startup.name, startup_path(startup) %></li>
            <% end %>
          </ul>
        </p>
        <hr>
<p><i class="fa fa-twitter"></i><a href="https://twitter.com/@profile.twitter"><%= @profile.twitter %></a></p>
<p><%= link_to '<i class="fa fa-linkedin"></i> LinkedIn'.html_safe, @profile.linkedin %></p>
<p><i class="fa fa-globe"></i><%= @profile.website %></p>
<% if @profile == current_user.profile %>
  <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning btn-sm', target: '_blank' %>
<% end %>
      </div>
    </div>
  </div>
</div>