<h1>Welcome to Startup Community</h1>
<p></p>

<% if user_signed_in? %>
	<% unless current_user.profile %>
		<%= link_to 'Create your profile', new_profile_path, class: 'btn btn-primary', title: 'This is a button to create your profile' %>
	<% end %>
	<%= link_to 'Add your event', new_event_path, class: 'btn btn-warning', title: 'This is a button to create a new event' %>
	<%= link_to 'Add your startup', new_startup_path, class: 'btn btn-primary', title: 'This is a button to create a new startup' %>
<% else %>
	<%= link_to 'Create your profile', new_profile_path, class: 'btn btn-primary', title: 'This is a button to create your profile' %>
<% end %>

<hr>
<div class="row">
 	<div class="col-sm-4">
		<%= render @new_profiles %>
	</div>
	<div class="col-sm-4">
		<%= render @upcoming_events %>
	</div>
</div>